html,
body {
    background: #000;
    color: #FFFFFF;
    width: 100%;
}

body.bg-white{
    background: #FFFFFF;
    color: #000000;
}

body.loading {overflow: hidden; width: 100%; height: 100%; position: absolute;}
body.loading .app-container{opacity: 0}
body.loaded .app-container{opacity: 1}

.mobile *:not(input):not(textarea),
.tablet *:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}

body.overflow--fix{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.app-container{
    font-size: 0.75rem;
    font-weight: 100;
}

/* header */
header.header-btn {
    z-index: 1000;
    position: fixed;
    padding: 2rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width:0;
}

header.header-btn:before {
    content: "";
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 0;
    background: #000000;
    opacity: 0;
    transition: height 200ms ease-in-out, opacity 400ms ease-in-out;
}

header.header-btn.scroll-bg:before {
    height: 5rem;
    opacity: 0.90;
}

header.header-btn .btn-menu{
    position: relative;
    top:0;
    left:0;
    margin: -0.3125rem 0 0 -0.3125rem;
}

header.header-btn .btn-menu.icon-menu{
    display: block;
    color: #FFFFFF;
}

header.header-btn .btn-menu .material-icons{
    font-size: 1.5rem;
}

.mode-white header.header-btn.scroll-bg:before {
    background: #FFFFFF;
}

.mode-white header.header-btn .btn-menu.icon-menu{
    color: #000000;
}

/* navi */
nav.nav-menu{
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    color: #000000;
    display: none;
}

body.nav--open nav.nav-menu{
    display: block;
}

nav.nav-menu .dim-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    opacity: 0;
    transition: opacity 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

nav.nav-menu.active .dim-bg{
    opacity: 0.70;
}

nav.nav-menu .list-bg{
    position: absolute;
    width: 90%;
    max-width: 30rem;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    opacity: 0.95;
    transform: translateX(-100%);
    transition: transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav.nav-menu.active .list-bg{
    transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(0);
}

nav.nav-menu .nav-wrapper{
    position: relative;
    width: 90%;
    max-width: 30rem;
    height: 100%;
    overflow-y: scroll;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transform: translateX(-100%);
    transition: transform 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

nav.nav-menu.active .nav-wrapper{
    transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    /*transition: transform 400ms cubic-bezier(0.645, 0.045, 0.355, 1);*/
    transform: translateX(0);
}

nav.nav-menu .nav-wrapper .group-con{
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    font-size: 0.75rem;
    font-weight: 200;
    /*letter-spacing: -0.02rem;*/
}

nav.nav-menu .nav-wrapper .group-con .btn-close{
    position: relative;
    margin: -0.3125rem 0 0.75rem -0.3125rem;
}

nav.nav-menu .nav-wrapper .group-con .btn-close .material-icons{
    font-size: 1.5rem;
}


nav.nav-menu .nav-wrapper .group-con .list-con{
    min-height: 100%;
}

nav.nav-menu .nav-wrapper .group-con .navi-footer{
    margin-top: 3rem;
}

nav.nav-menu .nav-wrapper .group-con .navi-footer .sec-copyright{
    color: #cccccc;
    font-size: 0.625rem;
}

nav.nav-menu .nav-wrapper .list-con .gap--line{
    margin: 0.625rem 0;
}

nav.nav-menu .nav-wrapper .list-con ul{
    width: 100%;
    margin: 0;
    padding: 0;
}

nav.nav-menu .nav-wrapper .list-con ul li{
    width: 100%;
    margin: 0;
    padding: 0;
}

nav.nav-menu .nav-wrapper .list-con .page-list li.list-item-page{
    margin: 0;
    padding: 0.75rem 0;
    box-sizing: border-box;
}


nav.nav-menu .nav-wrapper .list-con .contents-list .cat-list{

}

nav.nav-menu .nav-wrapper .list-con .contents-list .cat-list .category-title{
    margin-top: 0.75rem;
    padding: 0.75rem 0;
    box-sizing: border-box;
}

nav.nav-menu .nav-wrapper .list-con .contents-list .cat-list .category-title:after{
    /*content: '▴';*/
    content: ' -';
    display: inline;
}
nav.nav-menu .nav-wrapper .list-con .contents-list .cat-list.closed .category-title:after{
    /*content: '▾';*/
    content: ' +';
}

nav.nav-menu .nav-wrapper .list-con .contents-list .cat-list .group-list-con{
    overflow: hidden;
    height: auto;
}

nav.nav-menu .nav-wrapper .list-con .contents-list .cat-list.closed .group-list-con{
    height: 0;
}


nav.nav-menu .nav-wrapper .list-con .contents-list .cat-list.closed .group-list-con a{
    display: none;
}

nav.nav-menu .nav-wrapper .list-con .contents-list li.list-item-content a{
    display: block;
    padding: 0.75rem;
    box-sizing: border-box;
}

.hovermq nav.nav-menu .nav-wrapper .list-con .contents-list li.list-item-content a:hover{
    color:#663399;
}

nav.nav-menu .nav-wrapper li.on a{
    pointer-events: none;
    cursor: default;
}

nav.nav-menu .nav-wrapper li .link-text .group-text{
    color: #cccccc;
}

nav.nav-menu .nav-wrapper li.on .link-text{
    color: #e61d5f;
}

nav.nav-menu .nav-wrapper li.mobile-only .link-text .mobile-alert{
    display: none;
    margin-left: 0.5rem;
    font-size: 0.625rem;
}

.desktop nav.nav-menu .nav-wrapper li.mobile-only a{
    pointer-events: none;
    cursor: default;
}
.desktop nav.nav-menu .nav-wrapper li.mobile-only .link-text span{
    text-decoration: line-through;
    color: #999999;
}
.desktop nav.nav-menu .nav-wrapper li.mobile-only .link-text  span.mobile-alert{
    display: inline;
    text-decoration: none;
    color: #cccccc;
}


.frame-menu .content-info{
    position: fixed;
    top:0; left:0;
    margin: 0;
    width:100%;
    z-index: 900;
    /*transition:transform 400ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

.frame-menu .content-info .wrap-txt {
    position: relative;
    margin: 0;
    padding: 5rem 2rem 5rem;
    width:100%;
    overflow: hidden;
    box-sizing: border-box;
    color:#FFFFFF;
    background:rgba(0, 0, 0, 0.85);
    transform: translateY(0);
    transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.frame-menu .content-info.closed .wrap-txt {
    transform: translateY(-100%) ;

    transition: transform 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.frame-menu .content-info .wrap-txt span{
    font-size: 0.75rem;
    font-weight: 100;
    line-height: 1.2rem;
}

.frame-menu .content-info .wrap-txt .title{

}

.frame-menu .content-info .wrap-txt .description{
    margin-top: 1.8rem;
}

.frame-menu .content-info .wrap-txt .manual{
    margin-top: 1.2rem;
    font-style: italic;
    color: #999999;
}

.frame-menu .content-info .btn-toggle{
    position: absolute;
    margin: 1rem;
    padding: 1rem;
    right:0;
    top:0;
}

.frame-menu .content-info .btn-toggle .icon{
    width: 0.75rem;
    height: 0.75rem;
    /*background: #FFFFFF;*/
    border-radius: 50% 50%;
    border: solid 1px #FFFFFF;
}

.frame-menu .content-info.closed .btn-toggle .icon{
    background: #FFFFFF;
}

/* mode-white */
.frame-menu.mode-white .content-info .wrap-txt {
    color:#000;
    background:rgba(255, 255, 255, 0.95);
}

.frame-menu.mode-white .content-info .wrap-txt .manual{
    color: #444444;
}
.frame-menu.mode-white .content-info .btn-toggle .icon{
    border: solid 1px #000;
}

.frame-menu.mode-white .content-info.closed .btn-toggle .icon{
    background: #000000;
}


/* main */
main.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* page main : about lab */

main.main .about-lab{
    padding: 4rem 2rem 2rem;
    box-sizing: border-box;
}

main.main .about-lab h1.logo{
    margin: 2rem 0;
}
main.main .about-lab h1.logo img.img-logo{
    width: 104px;
}

main.main .about-lab .dec-lab{
    font-size: 0.75rem;
    font-weight: 100;
    color: #ffffff;
    line-height: 1.375rem;
}

/* page main : about lab */

main.main .contents-group{
    margin: 0;
    font-size: 0.75rem;
    font-weight: 100;
    color: #ffffff;
    line-height: 1.375rem;
}

main.main .contents-group ul{
    margin: 0;
    padding: 0;
}

main.main .contents-group ul li{
    margin: 0;
    padding: 0;
}

main.main .contents-group .content-list{
    margin: 2rem 0;
}

main.main .contents-group .content-list a.link-area{
    display: block; /* for focus line */
}

main.main .contents-group .content-img{
    width: 100%;
    height: 40vw;
    max-height: 200px;
    background: #111111;
}

main.main .contents-group .content-img .img--con{
    overflow: hidden;
    width: 100%;
    height: 100%;

    /*background-repeat: no-repeat, repeat;*/
    background-repeat:no-repeat;
    background-size:cover;
    /*background-position: right bottom, left top;*/
    background-position: center, center;
}

main.main .contents-group .content-img .img--con img{
    width: 100%;
    display: none;
}

main.main .contents-group .content-title{
    padding: 1.5rem 2rem 1rem;
}

main.main .contents-group .content-dec{
    padding: 1rem 2rem;
    max-width: 1024px
}


/* frame-ui temp*/
.frame-ui{ display: none}